<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.name %>
  <%= link_to link_to image_tag("edit.gif", :border=>0, :class => 'edit'), edit_article_path(@article) %>
  <%= link_to link_to image_tag("delete.gif", :border=>0, :class => 'delete'), @article, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>
  <b>Description:</b>
  <%= @article.description %>
</p>

<p>
  <b>Price:</b>
  <%= @article.price %>
</p>

<p>
  <b>Total in shelf:</b>
  <%= @article.total_in_shelf %>
</p>

<p>
  <b>Total in vault:</b>
  <%= @article.total_in_vault %>
</p>

<p>
  <b>Store:</b>
  <%= @article.store_id %>
</p>


<%= link_to 'Back', articles_path %>
