<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
  <%= link_to link_to image_tag("edit.gif", :border=>0, :class => 'edit'), edit_store_path(@store) %>
  <%= link_to link_to image_tag("delete.gif", :border=>0, :class => 'delete'), @store, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>
  <b>Address:</b>
  <%= @store.address %>
</p>

<%= link_to 'Back', stores_path %>